In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Setting path

path = r"C:\Users\luiss\OneDrive\Career Foundry\Instacart Basket Analysis"

In [5]:
#Importing data set

df_tot = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'total.pkl'))

In [6]:
#Checking data

df_tot.shape

(32406041, 32)

In [7]:
df_tot.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,First Name,Surname,Gender,STATE,Age,date_joined,dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [8]:
crosstab = pd.crosstab(df_tot['days_since_prior_order'], df_tot['order_number'], dropna = False)

In [9]:
crosstab.to_clipboard()

In [11]:
df_tot.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_days_since_prior_order', 'frequency_flag',
       'First Name', 'Surname', 'Gender', 'STATE', 'Age', 'date_joined',
       'dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [12]:
columns = df_tot.columns.to_list()

In [13]:
pd.DataFrame(columns).to_clipboard(index=False, header=False)