Data Analytics Immersion Exercise 4.6

Combining Orders and Products Data frames

In [2]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Setting Path
path = r"C:\Users\luiss\OneDrive\Career Foundry\Instacart Basket Analysis"

In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [4]:
#Importing Combined Products and Orders DF
df_ords_prods_comb = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [5]:
#Checking Shape
df_ords_prods_comb.shape

(32434489, 10)

Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [6]:
#Importing prepared products data
df_prods = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','df_prods_clean.csv'))

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods.shape

(49677, 6)

In [9]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [10]:
df_ords_prods_merge = df_ords_prods_comb.merge(df_prods, on = 'product_id')

Confirm the results of the merge using the merge flag.

In [11]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32406041
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [14]:
#Exporting Data as Pickle file
df_ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge.pkl'))